* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

header {
    display: flex;
    justify-content: center;
    background-color: white;
    border-bottom: 2px solid green;
    align-items: center;
    font-size: 30px;
}

main {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 80%;
}

section{
    padding-top: 30px;
    padding-bottom: 30px;
    width: 50%;
    text-align: center;
}

#boss-section {
    align-items: center;
}

#boss {
    height: 100%;
    align-items: center;
    place-items: center;
    font-weight: bold;
}

#boss label {
    font-size: 28px;
    padding-top: 15px;
    padding-bottom: 15px;
}

#boss input {
    font-size: 20px;
    height: 60px;
    width: 80px;
    margin-left: 20px;
    margin-right: 40px;
    background-color: lavender;
}

#boss-memo {
    font-size: 20px;
    height: 80px;
    width: 250px;
    margin-left: 40px;
    margin-right: 20px;
    background-color: lavender;
}

#boss-memoarea {
    background-color: rgb(168, 234, 102);
    border-radius: 10px;
    width: 800px;
    height: 700px;
}

#boss-save {
    background-color: rgb(14, 196, 123);
    font-size: 28px;
        color: white;
        border-radius: 10px;
        text-align: center;
        height: 40px;
        width: 90px;
        margin-left: 10px;
        margin-right: 10px;
}

#boss-save:hover {
    text-shadow: 2px 2px #353535;
    box-shadow: 5px 5px #353535;
}

#boss-clear {
    background-color: rgb(245, 42, 42);
    font-size: 28px;
        color: white;
        border-radius: 10px;
        text-align: center;
        height: 40px;
        width: 90px;
        margin-left: 10px;
        margin-right: 10px;
}

#boss-clear:hover {
    text-shadow: 2px 2px #353535;
    box-shadow: 5px 5px #353535;
}

#boss-label {
    display: flex;
    justify-content: center;
    font-size: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}

#boss-delete {
    margin-left: 20px;
    font-size: 20px;
    border-radius: 10px;
    width: 180px;
    color: white;
    background-color: #605c5c;
}

#boss-delete:hover {
    text-shadow: 2px 2px #353535;
    box-shadow: 5px 5px #353535;
}

#worker {
    height: 100%;
    align-items: center;
    place-items: center;
    font-weight: bold;
}

#worker-section {
    align-items: center;
    place-items: center;
}

#worker label {
    font-size: 28px;
    padding-top: 15px;
    padding-bottom: 15px;
}

#worker input {
    font-size: 20px;
    height: 60px;
    width: 80px;
    margin-left: 20px;
    margin-right: 40px;
    background-color: lavender;
}

#worker-memo {
    font-size: 20px;
    height: 80px;
    width: 250px;
    margin-left: 40px;
    margin-right: 20px;
    background-color: lavender;
}

#worker-memoarea {
    background-color: rgb(239, 237, 154);
    border-radius: 10px;
    width: 800px;
    height: 700px;
}

#worker-save {
    background-color: rgb(14, 196, 123);
    font-size: 28px;
        color: white;
        border-radius: 10px;
        text-align: center;
        height: 40px;
        width: 90px;
        margin-left: 10px;
        margin-right: 10px;
}

#worker-save:hover {
    text-shadow: 2px 2px #353535;
    box-shadow: 5px 5px #353535;
}

#worker-clear {
    background-color: rgb(245, 42, 42);
    font-size: 28px;
        color: white;
        border-radius: 10px;
        text-align: center;
        height: 40px;
        width: 90px;
        margin-left: 10px;
        margin-right: 10px;
}

#worker-clear:hover {
    text-shadow: 2px 2px #353535;
    box-shadow: 5px 5px #353535;
}

#worker-label {
    display: flex;
    justify-content: center;
    font-size: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}

#worker-delete {
    margin-left: 20px;
    font-size: 20px;
    border-radius: 10px;
    width: 180px;
    color: white;
    background-color: #605c5c;
}

#worker-delete:hover {
    text-shadow: 2px 2px #353535;
    box-shadow: 5px 5px #353535;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5%;
    font-size: 20px;
    color: rgb(249, 248, 248);
    font-weight: bold;
    background-color: rgb(11, 68, 36);
}

ul {
    display: flex;
    justify-content: center;
    list-style: none;
    width: 100%;
    border-radius: 10px;
    font-size: 25px;
    color: black;
    text-shadow: none;
    margin-top: 30px;
    margin-bottom: 20px;
}

li {
    margin-left: 20px;
    margin-right: 20px;
}